
.contact-content{
    height: 550px;
    width: 100%;
    background-color:white;
    margin-top: 20px;
    
}

.contact-content p{
    text-align: center;
    padding-top: 10px;
    color: #f15a29;
}

.contact-content h1{
    text-align: center;
    padding-top: 10px;
    color: #0b2c6a;
    
}

.contact-section{
    position: relative;
    top: 10%;
    left: 5%;
    height: 60%;
    width: 90%;
    /* background-color: #0b2c6a; */
    margin-top: 10px;
    display: flex;
    
}

.contact-info{
    height: 98%;
    width: 50%;
    background-color: orange;
   margin-right:30px ;
}

.contact-map{
    height: 100%;
    width: 50%;
    /* background-color: tomato; */
   
}

.contact-us{
    position: relative;
    top: 8%;
    left: 3.2%;
    height: 95%;
width: 98%;
background-color:#0b2c6a
}

.contact-us h1{
    position: relative;
    top: 14%;
    left: 0%;
    /* text-align: center; */
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.contact-us p{
    position: relative;
    top: 18%;
    left: 16%;
    list-style-type:none;
   text-align: justify;
  color: white;
    padding-top: 15px;
    font-size: 1.02rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#contact-us-icon{
    background-color: white;
    color: #0b2c6a;
    height: 30px;
    width: 30px;
    padding: 5px;
}

/* #contact-phone-info{
    color: black;
} */

.iframe-map{
position: relative;
left: 5%;
    height: 100%;
    width: 95%;
}



@media screen and (max-width: 400px) {
    .contact-content {
      height: auto;
     margin: 0;
     position: relative;
     top: -35px;
    }
  
    .contact-content p {
      font-size: 14px;
    }
  
    .contact-content h1 {
      font-size: 18px;
      padding: 5px 0;
    }
  
    .contact-section {
      flex-direction: column;
      align-items: center;
      width: 100%;
      left: 0;
      top: 0;
    }
  
    .contact-info,
    .contact-map {
      width: 100%;
      height: 240px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .contact-us {
      position: relative;
      width: 95%;
      left: 0;
      top: 14px;
      height: 240px;
      /* padding: 10px; */
    }
  
    .contact-us h1 {
      font-size: 18px;
      top: 4px;
      left: 0;
      text-align: center;
    }
  
    .contact-us p {
      font-size: 14px;
      top: 10px;
      left: 10px;
      padding: 10px 10px;
     
    }
  
    #contact-us-icon {
      height: 21px;
      width: 21px;
      padding: 4px;
    }
  
    .iframe-map {
      position: relative;
      width: 100%;
      left: 0;
      top: 20px;
    }
  }
  

