.freeonlinecourse{
    height: 194vh;
    width: 100%;
    background-color:white;
}

.freecourse-section{
    position: relative;
left: 5%;
    height: 132vh;
    width: 90%;
    
    margin-top: 10px;
}

.freecoourse-secion-img{
    height: 350px;
    width: 100%;
    padding-bottom: 15px;
}

.freecoourse-secion-img p{
    /* padding-top: 10px; */
    color: #f15a29;
}

.freecoourse-secion-img h1{
    padding-top: 2px;
    color: #0b2c6a;
    font-size: 1.8rem;
}

.freecoourse-secion-img img{
    padding-top: 10px;
  
height: 80%;
width: 70%;
}

.freecoursesection-para{
    height: 180px;
    width: 100%;
    /* background-color: rgb(3, 42, 29); */
}

.freecoursesection-para p{
    text-align: justify;
    line-height: 20px;
}

.freecourse-component{
    height: 180px;
    width: 100%;
    
}

.freecourse-component p{
    position: relative;
    top: 12%;
    left: 3.5%;
    width: 90%;
    text-align: justify;
    border-left: 3px solid black;
    padding: 20px;
    line-height: 20px;
    background-color:  rgb(223, 234, 238);
}

.freecourse-slider{
    height: 650px;
    width: 100%;
    background-color:rgb(223, 234, 238);
}

.free-slider{
    position: relative;
    left: 5%;
    height: 650px;
    width: 90%;
    background-color:rgb(223, 234, 238);
}

.free-slider-container{
   
    height: 150px;
    width: 100%;
    
}

.free-slider-container p{
position: relative;
top: 50%;
    text-align: center;
    color: #f15a29;
}

.free-slider-container h1{
    position: relative;
top: 50%;
    text-align: center;
    padding-top: 2px;
    color: #0b2c6a;
    font-size: 1.8rem;
}

.slider-container{
    height: 500px;
    width: 100%;
   
}

.onlineblog-card{
  border: 0.2px solid lightblue;
  height: 410px;
  width: 400px;

}

.onlineblog-card p{
  position: relative;
  top: -10%;
  padding:0 14px;
  text-align: justify;

}

#suggestedblog-date{
  position: relative;
  top:-10%;
  left: 60%;
  background-color: #f15a29;
  border: 2px solid white;
  height: 60px;
  width: 10%;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  padding-top: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.suggestedblog-img{
  height: 240px;
  width: 100%;
}



@media (max-width: 400px) {
    .freeonlinecourse {
      height: auto;
      /* padding-bottom: 50px; */
    }
  
    .freecourse-section {
      height: auto;
      position: relative;
    top: -10px;
      left: 5;
      width: 90%;
      
      margin: 0;
    }
  
    .freecoourse-secion-img {
      height: auto;
      width: 100%;
      text-align: center;
      padding: 0;
    }
  
    .freecoourse-secion-img img {
      height: auto;
      width: 100%;
      
    }

    .freecoourse-secion-img p{
        font-size: 14px;
    }
  
    .freecoourse-secion-img h1 {
      font-size: 16px;
    }
  
    .freecoursesection-para,
    .freecourse-component {
      height: auto;
      width: 100%;
      
    }
.free-slider{
  height: 550px;
}
  
    .freecourse-component p {
      left: 0;
      width: 90%;
      padding: 15px;
      font-size: 14px;
    }
  
    .freecoursesection-para p {
      line-height: 20px;
      font-size: 14px;
      padding: 10px 0;
    }
  
    .freecourse-slider {
      height: 570px;
      width: 100%;
      padding: 0;
      position: relative;
      top: -10%;
    }

    /* .free-slider {
      height: 600px;
      width: 100%;
      position: relative;
     top: 30px;
    } */

    .free-slider-container{
      height: 60px;
      
    }
  
    .free-slider-container h1,
    .free-slider-container p {
      font-size: 14px;
      position: relative;
      top: 30%;
    }
  
    .slider-container {
      height: 450px;
      width: 100%;
    }
  

    #suggestedblog-date{
  position: relative;
  top: -35px;
  height: 45px;
    }
    .onlineblog-card p{
      padding-top: 20px;
   font-size: 14px;
   line-height: 20px;
    }
    .suggestedblog-img {
      width: 100%;
      height: 250px;
    }
  
    /* Adjust react-slick for 1 slide at a time */
    .slick-slider .slick-slide {
      padding: 0 -40px;
    }
  
    .slick-dots li button:before {
      font-size: 10px;
    }
  
    .slick-prev,
    .slick-next {
      display: none !important; /* hide arrows for mobile */
    }
  }
  

