
.testpreparationclass{
    overflow: hidden;
    height: 580px;
    width: 100%;
    /* background-color:cadetblue; */
}

.testclass-head h2{
    text-align: center;
    color: rgba(2, 2, 171, 0.8);
    padding-top: 10px;
}

.testclass-head p{
    text-align: center;
    color: #f15a29;
    padding-top: 40px;
    padding-bottom: 10px;
}

.test-img{
    height: 350px;
    width: 75%;
}


.testclass-slider{
    position: relative;
    left: 3%;
}

.test-card button{
    position: relative;
    top:-30px !important;
    left: 20%;
    background-color:white;
    height: 50px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
   border: none;
   font-size: 16px;
   font-weight: bold;
   color: #0b2c6a;
   /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
}




@media screen and (max-width: 400px) {
    .testpreparationclass {
      height: 420px;
      padding: 10px 0;
      background-color:  rgb(223, 234, 238);;
    }
  
    .test-img {
      width: 100%;
      height: 320px;
      max-height: 250px;
      object-fit: cover;
      margin: 0 auto;
    }
  
    .testclass-slider {
      overflow: visible;
      height: 310px;
      left: 0;
      padding: 0 10px;
    }
  
    .testclass-head h2 {
      font-size: 16px;
      padding-top: 2px;
    }
  
    .testclass-head p {
      font-size: 14px;
      padding: 8px 0;
    }

    .slick-dots li {
  margin: 0 !important; 
}

   .slick-dots li button:before {
  font-size: 6px !important;
}

.test-card button {
  position: relative;
  top: -16px !important;
  left: 24%;
}

  }
  